
a {
  font-weight: 500;
  color: #749785;
  text-decoration: inherit;
}
a:hover {
  color: #4a5e4e;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #232323;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #727272;
  background-color: #749785;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #749785;
  }
  button {
    background-color: #a3c6b4;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: black;
}
ul {
  background-color: #4a5e4e;
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
li {
  display: inline-flex;
  align-items: center;
  background-color: #4a5e4e;
  text-decoration: none;
}

li:first-child {
  position: absolute;
  left: 0;
}
li a {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  padding: 0;
  margin: 4.5px;
  margin-left: 300px;
  margin-right: 380px;
}

#image {
  max-width: 70px;
  max-height: 70px;
  padding: 0px;
  margin: 5px;
}

#banner {
  max-height: 70px;
  padding: 0px;
  margin: 5px;
}

footer {
  color: white;
  text-align: left;
  margin-left: 20px;
}